ciot/Comission/flow.json
[{"id":"9a6b7650c4a8a25e","type":"tab","label":"Nicole-CIoT","disabled":true,"info":"","env":[]},{"id":"d835a3fc17454094","type":"group","z":"9a6b7650c4a8a25e","name":"Door","style":{"label":true,"stroke":"#000000","fill":"#b797cf","color":"#000000"},"nodes":["082cf872bb299c0e","64918a7025389307","301be4d93811662a","a54e7086b44e06ef","5c02c150bfd8d461","058c25eb7f702fe7","cceffe258f811e3e","2f737d4e318c54bd"],"x":34,"y":184,"w":992,"h":137},{"id":"bb77e447b642787d","type":"group","z":"9a6b7650c4a8a25e","name":"Temperature Graph","style":{"label":true,"stroke":"#000000","fill":"#7fb7df","color":"#000000"},"nodes":["6c9fdecf211bab8e","904dd3e2ff9d661d","3f4e59669eb1de46","5c8bd7bc720fa44e","e069d17f7e735f08","22961290f978b0c4"],"x":34,"y":839,"w":1032,"h":122},{"id":"1a8b2d38edd5cb89","type":"group","z":"9a6b7650c4a8a25e","name":"Motion Light","style":{"stroke":"#000000","fill":"#ffff00","label":true,"color":"#000000"},"nodes":["aad2b51c4367967a","2159a5bed817b2c5","f4bf3f0a93488a70","cd5481cf663f636e","abac7c9c0db9e129","30294c7fbef0c15c","2c6fbda3988a1b1c"],"x":34,"y":19,"w":872,"h":142},{"id":"d9e7aa7c4aad9284","type":"group","z":"9a6b7650c4a8a25e","name":"Cooling System","style":{"stroke":"#000000","fill":"#7fb7df","label":true,"color":"#000000"},"nodes":["0bbb9051df93f33a","c06f5a2abfd87225","8f04676646843548","d8a35d9cfd3b0dfe","80877634025a48a3","9f2667823cd7dbf9","f1cd7bd3290f2c72","4e15cd33ea5541d1","d7ef852072accdc7","cd180ff2c9905013"],"x":34,"y":333,"w":1984,"h":480},{"id":"80877634025a48a3","type":"group","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"Aircon Spoilt Handler","style":{"label":true,"stroke":"#000000","fill":"#ff7f7f","color":"#000000"},"nodes":["c19be47a806114b4","831d131983e76c0e","331e98cd98ce3cfd","9736ae3e42d931db","85a4d1f701af7fc6"],"x":1268,"y":559,"w":724,"h":228},{"id":"9f2667823cd7dbf9","type":"group","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"Aircon Normal Operation Handler","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["053dd1ac6e0519a6","d15fe76a9d1caadb","e2066795cf26d82e","812ab40d0610a36e","6eea3f53b2134fac","f8ce5ac1f28209da"],"x":1274,"y":359,"w":372,"h":162},{"id":"f1cd7bd3290f2c72","type":"group","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"Write to Database","style":{"stroke":"#000000","label":true,"color":"#000000","fill":"#7f8faf"},"nodes":["cc0adc2b76011a41","99e4630969de2753"],"x":714,"y":519,"w":432,"h":82},{"id":"85a4d1f701af7fc6","type":"group","z":"9a6b7650c4a8a25e","g":"80877634025a48a3","name":"Telegram handler","style":{"label":true,"fill":"#bfdbef","color":"#000000","stroke":"#000000"},"nodes":["37705ce142c0f3c5","a25cb298a8428917","fb96d6f523258325"],"x":1294,"y":679,"w":672,"h":82},{"id":"082cf872bb299c0e","type":"switch","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"Check Password","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1234","vt":"str"},{"t":"eq","v":"Nicole","vt":"str"},{"t":"eq","v":"Boon Yew","vt":"str"},{"t":"eq","v":"accept","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":240,"wires":[["5c02c150bfd8d461","a54e7086b44e06ef"],["5c02c150bfd8d461"],["5c02c150bfd8d461"],[]]},{"id":"64918a7025389307","type":"ui_text_input","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"Password Text Box","label":"Password","tooltip":"","group":"3ce1f045ec289b12","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":150,"y":240,"wires":[["082cf872bb299c0e"]]},{"id":"301be4d93811662a","type":"ui_media","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","group":"3ce1f045ec289b12","name":"","width":0,"height":0,"order":1,"category":"Door","file":"close.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":950,"y":240,"wires":[[]]},{"id":"a54e7086b44e06ef","type":"delay","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":280,"wires":[["058c25eb7f702fe7"]]},{"id":"5c02c150bfd8d461","type":"change","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"Set Door Open Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door/open.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["301be4d93811662a"]]},{"id":"058c25eb7f702fe7","type":"change","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"Set Door Close Image","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door/close.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["301be4d93811662a"]]},{"id":"cceffe258f811e3e","type":"mqtt in","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"","topic":"ai","qos":"2","datatype":"auto","broker":"6c96f475183d1813","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":280,"wires":[["2f737d4e318c54bd"]]},{"id":"6c9fdecf211bab8e","type":"function","z":"9a6b7650c4a8a25e","g":"bb77e447b642787d","name":"Read Statement","func":"msg.topic = `SELECT * FROM temperature_table ORDER BY id DESC LIMIT 1`\n//[{\"id\":7,\"temperature\":21,\"timestamp\":1643461084699}]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":880,"wires":[["904dd3e2ff9d661d"]]},{"id":"904dd3e2ff9d661d","type":"sqlite","z":"9a6b7650c4a8a25e","g":"bb77e447b642787d","mydb":"a3de1af8ae569540","sqlquery":"msg.topic","sql":"","name":"","x":560,"y":880,"wires":[["5c8bd7bc720fa44e","22961290f978b0c4"]]},{"id":"3f4e59669eb1de46","type":"inject","z":"9a6b7650c4a8a25e","g":"bb77e447b642787d","name":"Constant Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":880,"wires":[["6c9fdecf211bab8e"]]},{"id":"5c8bd7bc720fa44e","type":"debug","z":"9a6b7650c4a8a25e","g":"bb77e447b642787d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":880,"wires":[]},{"id":"e069d17f7e735f08","type":"ui_chart","z":"9a6b7650c4a8a25e","g":"bb77e447b642787d","name":"","group":"c4e018332a1155de","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":950,"y":920,"wires":[[]]},{"id":"22961290f978b0c4","type":"change","z":"9a6b7650c4a8a25e","g":"bb77e447b642787d","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"payload[0].timestamp","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[0].temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[["e069d17f7e735f08"]]},{"id":"aad2b51c4367967a","type":"rpi-gpio in","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"PIR","pin":"27","intype":"tri","debounce":"25","read":false,"bcm":true,"x":110,"y":100,"wires":[["30294c7fbef0c15c"]]},{"id":"2159a5bed817b2c5","type":"rpi-gpio out","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"LED","pin":"17","set":"","level":"0","freq":"","out":"out","bcm":true,"x":830,"y":100,"wires":[]},{"id":"f4bf3f0a93488a70","type":"switch","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":100,"wires":[["cd5481cf663f636e"],["abac7c9c0db9e129"]]},{"id":"cd5481cf663f636e","type":"change","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":60,"wires":[["abac7c9c0db9e129","2159a5bed817b2c5"]]},{"id":"abac7c9c0db9e129","type":"delay","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":100,"wires":[["2159a5bed817b2c5"]]},{"id":"30294c7fbef0c15c","type":"function","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"","func":"if(msg.payload==1){\n    msg.payload=0;\n}\nelse if(msg.payload==0){\n    msg.payload=1;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":100,"wires":[["f4bf3f0a93488a70"]]},{"id":"2c6fbda3988a1b1c","type":"inject","z":"9a6b7650c4a8a25e","g":"1a8b2d38edd5cb89","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":530,"y":120,"wires":[["2159a5bed817b2c5"]]},{"id":"0bbb9051df93f33a","type":"switch","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"num"},{"t":"lt","v":"25","vt":"num"},{"t":"gt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1150,"y":480,"wires":[["d15fe76a9d1caadb","f8ce5ac1f28209da","d15fe76a9d1caadb","f8ce5ac1f28209da"],["e2066795cf26d82e","f8ce5ac1f28209da","e2066795cf26d82e","f8ce5ac1f28209da"],["831d131983e76c0e","c19be47a806114b4","a25cb298a8428917","c19be47a806114b4","831d131983e76c0e","a25cb298a8428917"]]},{"id":"c06f5a2abfd87225","type":"rpi-dht22","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"","topic":"rpi-dht22","dht":"11","pintype":1,"pin":"7","x":380,"y":480,"wires":[["d8a35d9cfd3b0dfe","d8a35d9cfd3b0dfe"]]},{"id":"c19be47a806114b4","type":"change","z":"9a6b7650c4a8a25e","g":"80877634025a48a3","name":"msg.payload=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":640,"wires":[["9736ae3e42d931db","9736ae3e42d931db"]]},{"id":"831d131983e76c0e","type":"change","z":"9a6b7650c4a8a25e","g":"80877634025a48a3","name":"msg.payload=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":600,"wires":[["331e98cd98ce3cfd","331e98cd98ce3cfd"]]},{"id":"331e98cd98ce3cfd","type":"rpi-gpio out","z":"9a6b7650c4a8a25e","g":"80877634025a48a3","name":"Buzzer","pin":"2","set":"","level":"0","freq":"","out":"out","bcm":true,"x":1540,"y":600,"wires":[]},{"id":"9736ae3e42d931db","type":"rpi-gpio out","z":"9a6b7650c4a8a25e","g":"80877634025a48a3","name":"Aircon","pin":"3","set":"","level":"0","freq":"","out":"out","bcm":true,"x":1530,"y":640,"wires":[]},{"id":"37705ce142c0f3c5","type":"telegram sender","z":"9a6b7650c4a8a25e","g":"85a4d1f701af7fc6","name":"","bot":"65103eab3bf5f377","haserroroutput":false,"outputs":1,"x":1850,"y":720,"wires":[[]]},{"id":"a25cb298a8428917","type":"function","z":"9a6b7650c4a8a25e","g":"85a4d1f701af7fc6","name":"Declare Telegram Objects","func":"var temp=msg.payload\nmsg.payload={\n    content:\"Aircon Spoilt!\",\n    type:'message',\n    chatId:['249474441']\n   }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":720,"wires":[["37705ce142c0f3c5","fb96d6f523258325"]]},{"id":"053dd1ac6e0519a6","type":"rpi-gpio out","z":"9a6b7650c4a8a25e","g":"9f2667823cd7dbf9","name":"Aircon","pin":"3","set":"","level":"0","freq":"","out":"out","bcm":true,"x":1570,"y":400,"wires":[]},{"id":"d15fe76a9d1caadb","type":"change","z":"9a6b7650c4a8a25e","g":"9f2667823cd7dbf9","name":"msg.payload=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":400,"wires":[["053dd1ac6e0519a6","053dd1ac6e0519a6"]]},{"id":"e2066795cf26d82e","type":"change","z":"9a6b7650c4a8a25e","g":"9f2667823cd7dbf9","name":"msg.payload=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":480,"wires":[["812ab40d0610a36e","812ab40d0610a36e"]]},{"id":"812ab40d0610a36e","type":"rpi-gpio out","z":"9a6b7650c4a8a25e","g":"9f2667823cd7dbf9","name":"Aircon","pin":"3","set":"","level":"0","freq":"","out":"out","bcm":true,"x":1570,"y":480,"wires":[]},{"id":"6eea3f53b2134fac","type":"rpi-gpio out","z":"9a6b7650c4a8a25e","g":"9f2667823cd7dbf9","name":"Buzzer","pin":"2","set":"","level":"0","freq":"","out":"out","bcm":true,"x":1560,"y":440,"wires":[]},{"id":"f8ce5ac1f28209da","type":"change","z":"9a6b7650c4a8a25e","g":"9f2667823cd7dbf9","name":"msg.payload=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":440,"wires":[["6eea3f53b2134fac","6eea3f53b2134fac"]]},{"id":"cc0adc2b76011a41","type":"function","z":"9a6b7650c4a8a25e","g":"f1cd7bd3290f2c72","name":"Write Statement","func":"msg.topic = `INSERT INTO temperature_table (temperature,timestamp) VALUES (`+msg.payload+`,`+msg.timestamp+`);`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":560,"wires":[["99e4630969de2753","99e4630969de2753"]]},{"id":"99e4630969de2753","type":"sqlite","z":"9a6b7650c4a8a25e","g":"f1cd7bd3290f2c72","mydb":"a3de1af8ae569540","sqlquery":"msg.topic","sql":"","name":"","x":1020,"y":560,"wires":[[]]},{"id":"8f04676646843548","type":"inject","z":"9a6b7650c4a8a25e","d":true,"g":"d9e7aa7c4aad9284","name":"Request DHT Sensor","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":480,"wires":[["c06f5a2abfd87225","c06f5a2abfd87225"]]},{"id":"d8a35d9cfd3b0dfe","type":"change","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"Change String to Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":480,"wires":[["0bbb9051df93f33a","cc0adc2b76011a41","cc0adc2b76011a41","0bbb9051df93f33a"]]},{"id":"4e15cd33ea5541d1","type":"inject","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Simulated Temp","payload":"24","payloadType":"num","x":510,"y":520,"wires":[["0bbb9051df93f33a"]]},{"id":"d7ef852072accdc7","type":"inject","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"26","payloadType":"num","x":550,"y":560,"wires":[["0bbb9051df93f33a"]]},{"id":"cd180ff2c9905013","type":"inject","z":"9a6b7650c4a8a25e","g":"d9e7aa7c4aad9284","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"42","payloadType":"str","x":550,"y":600,"wires":[["0bbb9051df93f33a"]]},{"id":"fb96d6f523258325","type":"delay","z":"9a6b7650c4a8a25e","g":"85a4d1f701af7fc6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1650,"y":720,"wires":[["37705ce142c0f3c5","a3b02db7f59ea33c"]]},{"id":"a3b02db7f59ea33c","type":"debug","z":"9a6b7650c4a8a25e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":840,"wires":[]},{"id":"2f737d4e318c54bd","type":"rbe","z":"9a6b7650c4a8a25e","g":"d835a3fc17454094","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":230,"y":280,"wires":[["082cf872bb299c0e"]]},{"id":"3ce1f045ec289b12","type":"ui_group","name":"Main Door","tab":"78a610c83b252fe7","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6c96f475183d1813","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a3de1af8ae569540","type":"sqlitedb","db":"pimylifeupSQLite.db","mode":"RWC"},{"id":"c4e018332a1155de","type":"ui_group","name":"Dashboard","tab":"78a610c83b252fe7","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"65103eab3bf5f377","type":"telegram bot","botname":"CIOT BOT","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"78a610c83b252fe7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
