ciot/ciot.json
[
    {
        "id": "7caff1de9b79b66b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f06545303b41dc2",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "g": "34c1174bea704b35",
        "name": "Database Silver or White",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#b797cf",
            "color": "#000000"
        },
        "nodes": [
            "5d2e2401d2970ccf",
            "dd7aae511633352c",
            "135e36dc4ae58108"
        ],
        "env": [],
        "x": 554,
        "y": 199,
        "w": 472,
        "h": 122
    },
    {
        "id": "5da167f2060d699a",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "g": "d4e73422958180a1",
        "name": "Machine Alert",
        "style": {
            "stroke": "#000000",
            "fill": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ceeb74694209008e",
            "f6f6434d81e55c89",
            "753ddad188cba494"
        ],
        "env": [],
        "x": 594,
        "y": 399,
        "w": 212,
        "h": 162
    },
    {
        "id": "7c8037d6c678ef88",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "g": "d4e73422958180a1",
        "name": "Telegram handler",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "d5cbe3116f82e109",
            "084c20673b8a9a93"
        ],
        "env": [],
        "x": 594,
        "y": 579,
        "w": 492,
        "h": 82
    },
    {
        "id": "7188d10c41c711bd",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "g": "34c1174bea704b35",
        "name": "Motor Motion",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "379dea978401f281",
            "af39f9bed2691e75",
            "3a15cad2d00d2471",
            "c3c751dfe35d84f4",
            "cd719fbb275b6463"
        ],
        "env": [],
        "x": 534,
        "y": 39,
        "w": 752,
        "h": 122
    },
    {
        "id": "d9a7683d91ab16c0",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "g": "d4e73422958180a1",
        "name": "Database Reject Tray ",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#b797cf",
            "color": "#000000"
        },
        "nodes": [
            "1364403f739e79d1",
            "3e4d6f11187d61cb",
            "60371294bd55a97f"
        ],
        "env": [],
        "x": 594,
        "y": 679,
        "w": 452,
        "h": 122
    },
    {
        "id": "6a05b551ac7d1fb0",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "g": "7a77484c74a0942f",
        "name": "Telegram handler",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "34f5659e4adf0cd4",
            "25fd1540d2c7e53a",
            "b179243df5f54f49"
        ],
        "env": [],
        "x": 1654,
        "y": 439,
        "w": 532,
        "h": 122
    },
    {
        "id": "d4e73422958180a1",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "name": "Reject Tray IR Sensor",
        "style": {
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "c3989fef02e1b13e",
            "d35f5847e5898f53",
            "5da167f2060d699a",
            "7c8037d6c678ef88",
            "d9a7683d91ab16c0",
            "fb3863eaf2ee1dc7",
            "4c97719167a1e971"
        ],
        "env": [],
        "x": 54,
        "y": 373,
        "w": 1058,
        "h": 454
    },
    {
        "id": "7a77484c74a0942f",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "name": "Servicing Switch",
        "style": {
            "stroke": "#000000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4fbd52b65b63a490",
            "38f3c15abf6be8b1",
            "da1c166fc815a199",
            "6a05b551ac7d1fb0",
            "aaecd34cefca6d64"
        ],
        "env": [],
        "x": 1134,
        "y": 379,
        "w": 1078,
        "h": 208
    },
    {
        "id": "34c1174bea704b35",
        "type": "group",
        "z": "7caff1de9b79b66b",
        "name": "Silver or white AI",
        "style": {
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "60e665c0f0706d8a",
            "07c19167855f0450",
            "0ccc587f1bb5c339",
            "8f06545303b41dc2",
            "7188d10c41c711bd"
        ],
        "env": [],
        "x": 54,
        "y": 13,
        "w": 1258,
        "h": 334
    },
    {
        "id": "60e665c0f0706d8a",
        "type": "inject",
        "z": "7caff1de9b79b66b",
        "g": "34c1174bea704b35",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "silver",
        "payloadType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "0ccc587f1bb5c339"
            ]
        ]
    },
    {
        "id": "07c19167855f0450",
        "type": "inject",
        "z": "7caff1de9b79b66b",
        "g": "34c1174bea704b35",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "white",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "0ccc587f1bb5c339"
            ]
        ]
    },
    {
        "id": "0ccc587f1bb5c339",
        "type": "switch",
        "z": "7caff1de9b79b66b",
        "g": "34c1174bea704b35",
        "name": "Silver Or White",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "silver",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "white",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "379dea978401f281",
                "5d2e2401d2970ccf"
            ],
            [
                "dd7aae511633352c"
            ]
        ]
    },
    {
        "id": "cd719fbb275b6463",
        "type": "debug",
        "z": "7caff1de9b79b66b",
        "g": "7188d10c41c711bd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "379dea978401f281",
        "type": "change",
        "z": "7caff1de9b79b66b",
        "g": "7188d10c41c711bd",
        "name": "Set to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "af39f9bed2691e75",
                "c3c751dfe35d84f4",
                "cd719fbb275b6463"
            ]
        ]
    },
    {
        "id": "af39f9bed2691e75",
        "type": "delay",
        "z": "7caff1de9b79b66b",
        "g": "7188d10c41c711bd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "3a15cad2d00d2471"
            ]
        ]
    },
    {
        "id": "3a15cad2d00d2471",
        "type": "change",
        "z": "7caff1de9b79b66b",
        "g": "7188d10c41c711bd",
        "name": "Set to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 120,
        "wires": [
            [
                "c3c751dfe35d84f4",
                "cd719fbb275b6463"
            ]
        ]
    },
    {
        "id": "c3c751dfe35d84f4",
        "type": "rpi-gpio out",
        "z": "7caff1de9b79b66b",
        "d": true,
        "g": "7188d10c41c711bd",
        "name": "Reject Motor",
        "pin": "",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "5d2e2401d2970ccf",
        "type": "change",
        "z": "7caff1de9b79b66b",
        "g": "8f06545303b41dc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "135e36dc4ae58108"
            ]
        ]
    },
    {
        "id": "dd7aae511633352c",
        "type": "change",
        "z": "7caff1de9b79b66b",
        "g": "8f06545303b41dc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "135e36dc4ae58108"
            ]
        ]
    },
    {
        "id": "135e36dc4ae58108",
        "type": "influxdb out",
        "z": "7caff1de9b79b66b",
        "g": "8f06545303b41dc2",
        "influxdb": "d32d1a0b4684e895",
        "name": "",
        "measurement": "Silver or White",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Initial_Organization",
        "bucket": "CIOT",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "c3989fef02e1b13e",
        "type": "rpi-gpio in",
        "z": "7caff1de9b79b66b",
        "d": true,
        "g": "d4e73422958180a1",
        "name": "IR Sensor",
        "pin": "",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 160,
        "y": 480,
        "wires": [
            [
                "d35f5847e5898f53",
                "ceeb74694209008e",
                "f6f6434d81e55c89",
                "753ddad188cba494"
            ]
        ]
    },
    {
        "id": "d35f5847e5898f53",
        "type": "switch",
        "z": "7caff1de9b79b66b",
        "g": "d4e73422958180a1",
        "name": "Reject Tray Full?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "084c20673b8a9a93",
                "1364403f739e79d1"
            ],
            [
                "3e4d6f11187d61cb"
            ]
        ]
    },
    {
        "id": "ceeb74694209008e",
        "type": "rpi-gpio out",
        "z": "7caff1de9b79b66b",
        "d": true,
        "g": "5da167f2060d699a",
        "name": "Buzzer",
        "pin": "",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "f6f6434d81e55c89",
        "type": "rpi-gpio out",
        "z": "7caff1de9b79b66b",
        "d": true,
        "g": "5da167f2060d699a",
        "name": "LED Red",
        "pin": "",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "d5cbe3116f82e109",
        "type": "telegram sender",
        "z": "7caff1de9b79b66b",
        "g": "7c8037d6c678ef88",
        "name": "",
        "bot": "65103eab3bf5f377",
        "haserroroutput": false,
        "outputs": 1,
        "x": 970,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "084c20673b8a9a93",
        "type": "function",
        "z": "7caff1de9b79b66b",
        "g": "7c8037d6c678ef88",
        "name": "Declare Telegram Objects",
        "func": "var temp=msg.payload\nmsg.payload={\n    content:\"Reject Tray is full!\",\n    type:'message',\n    chatId:['669038186']\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "d5cbe3116f82e109"
            ]
        ]
    },
    {
        "id": "1364403f739e79d1",
        "type": "change",
        "z": "7caff1de9b79b66b",
        "g": "d9a7683d91ab16c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "60371294bd55a97f"
            ]
        ]
    },
    {
        "id": "3e4d6f11187d61cb",
        "type": "change",
        "z": "7caff1de9b79b66b",
        "g": "d9a7683d91ab16c0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 760,
        "wires": [
            [
                "60371294bd55a97f"
            ]
        ]
    },
    {
        "id": "60371294bd55a97f",
        "type": "influxdb out",
        "z": "7caff1de9b79b66b",
        "g": "d9a7683d91ab16c0",
        "influxdb": "d32d1a0b4684e895",
        "name": "",
        "measurement": "Reject Tray",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Initial_Organization",
        "bucket": "CIOT",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "34f5659e4adf0cd4",
        "type": "telegram sender",
        "z": "7caff1de9b79b66b",
        "d": true,
        "g": "6a05b551ac7d1fb0",
        "name": "",
        "bot": "65103eab3bf5f377",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2070,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "25fd1540d2c7e53a",
        "type": "function",
        "z": "7caff1de9b79b66b",
        "g": "6a05b551ac7d1fb0",
        "name": "Declare Telegram Objects : True",
        "func": "var temp=msg.payload\nmsg.payload={\n    content:\"Servicing!\",\n    type:'message',\n    chatId:['669038186']\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 480,
        "wires": [
            [
                "34f5659e4adf0cd4"
            ]
        ]
    },
    {
        "id": "4fbd52b65b63a490",
        "type": "ui_switch",
        "z": "7caff1de9b79b66b",
        "g": "7a77484c74a0942f",
        "name": "",
        "label": "Servicing Switch",
        "tooltip": "",
        "group": "fd0ea2912fa11a5b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "38f3c15abf6be8b1",
                "da1c166fc815a199",
                "aaecd34cefca6d64"
            ]
        ]
    },
    {
        "id": "38f3c15abf6be8b1",
        "type": "rpi-gpio out",
        "z": "7caff1de9b79b66b",
        "d": true,
        "g": "7a77484c74a0942f",
        "name": "LED Yellow",
        "pin": "",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1450,
        "y": 460,
        "wires": []
    },
    {
        "id": "da1c166fc815a199",
        "type": "switch",
        "z": "7caff1de9b79b66b",
        "g": "7a77484c74a0942f",
        "name": "Servicing?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "25fd1540d2c7e53a"
            ],
            [
                "b179243df5f54f49"
            ]
        ]
    },
    {
        "id": "b179243df5f54f49",
        "type": "function",
        "z": "7caff1de9b79b66b",
        "g": "6a05b551ac7d1fb0",
        "name": "Declare Telegram Objects: False",
        "func": "var temp=msg.payload\nmsg.payload={\n    content:\"Servicing Done!\",\n    type:'message',\n    chatId:['669038186']\n   }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 520,
        "wires": [
            [
                "34f5659e4adf0cd4"
            ]
        ]
    },
    {
        "id": "aaecd34cefca6d64",
        "type": "ui_led",
        "z": "7caff1de9b79b66b",
        "g": "7a77484c74a0942f",
        "order": 1,
        "group": "5d64fb8d7820a5ab",
        "width": 0,
        "height": 0,
        "label": "Servicing:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Servcing LED",
        "x": 1460,
        "y": 420,
        "wires": []
    },
    {
        "id": "4c97719167a1e971",
        "type": "inject",
        "z": "7caff1de9b79b66b",
        "g": "d4e73422958180a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "753ddad188cba494",
                "d35f5847e5898f53"
            ]
        ]
    },
    {
        "id": "753ddad188cba494",
        "type": "ui_led",
        "z": "7caff1de9b79b66b",
        "g": "5da167f2060d699a",
        "order": 1,
        "group": "5d64fb8d7820a5ab",
        "width": 0,
        "height": 0,
        "label": "Reject Tray",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Reject Tray LED",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "fb3863eaf2ee1dc7",
        "type": "inject",
        "z": "7caff1de9b79b66b",
        "g": "d4e73422958180a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "753ddad188cba494",
                "d35f5847e5898f53"
            ]
        ]
    },
    {
        "id": "d32d1a0b4684e895",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "out",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "65103eab3bf5f377",
        "type": "telegram bot",
        "botname": "CIOT BOT",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "fd0ea2912fa11a5b",
        "type": "ui_group",
        "name": "Inputs",
        "tab": "ec48e4bcf886e483",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d64fb8d7820a5ab",
        "type": "ui_group",
        "name": "Outputs",
        "tab": "ec48e4bcf886e483",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec48e4bcf886e483",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
